@CHARSET "UTF-8";

#status {
	display: block;
	height: 30px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #ecc8c8;
}

.mrow {
	float: left;
    padding: 5px;
    width: 75px;
    border: 1px solid #cccccc;
}

.brow {
	float: left;
    padding: 5px;
    width: 75px;
}

.autorow {
	float: left;
    padding: 5px;
    width: 75px;
    border: 1px solid #cccccc;
}